<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.uestc.oauth2.mapper.UserMapper">


    <select id="loadUserByUsername" resultType="com.uestc.oauth2.entity.User">
        SELECT * FROM `t_user` WHERE username = #{username}
    </select>

    <!--根据指纹去查询-->
    <select id="loadUserByFingerprint" resultType="com.uestc.oauth2.entity.User">
        SELECT * FROM `t_user` WHERE fingerprint = #{fingerprint}
    </select>
    <!--根据ukey去查询-->
    <select id="loadUserByFingerprint" resultType="com.uestc.oauth2.entity.User">
        SELECT * FROM `t_user` WHERE ukey = #{ukey}
    </select>
</mapper>